@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fredericka+the+Great&family=Pattaya&family=Roboto:wght@300&family=Stardos+Stencil&display=swap");

:root {
  --gray-color: #353434;
  --white: #fff;
  --white-alpha-40: rgba(243, 236, 236, 0.507);
  --white-alpha-25: rgba(255, 255, 255, 0.144);
}

body {
  height: 100vh;
  background: linear-gradient(
    -45deg,
    #cf6747,
    #aa6680,
    #1c8ab3,
    #23d5ab,
    #9c54c5
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  width: 900px;
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.171);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 25px;
  border: 1px solid var(--white-alpha-25);
  -webkit-box-shadow: 0px 0px 15px 1px rgba(206, 206, 206, 0.747);
  box-shadow: 0px 0px 15px 1px rgba(204, 204, 204, 0.432);
  /* animation: glow 5s infinite alternate; */
}

.city-name {
  display: block;
  padding: 10px 15px 0;
  font-size: 45px;
  background: #f5f7f8;
  background: -webkit-repeating-linear-gradient(
    to right,
    #d7eaf2 0%,
    #a8dfff 50%,
    #b0cfce 100%
  );
  background: -moz-repeating-linear-gradient(
    to right,
    #d7eaf2 0%,
    #a8dfff 50%,
    #b0cfce 100%
  );
  background: repeating-linear-gradient(
    to right,
    #d7eaf2 0%,
    #a8dfff 50%,
    #b0cfce 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search {
  float: right;
  padding: 10px 5px;
}

.search-text {
  padding: 10px 25px;
  border-radius: 5px;
  border-style: none;
  border: 2px solid rgb(205, 214, 223);
  background: rgba(255, 255, 255, 0.1);
  transition: all 400ms ease-in-out;
}
.search-text:hover {
  border: 2px solid rgba(189, 203, 218, 0.473);
  -webkit-box-shadow: 0px 0px 13px 5px rgba(241, 241, 241, 0.747);
  box-shadow: 0px 0px 14px 5px rgba(255, 255, 255, 0.74);
}

.search-btn {
  margin-left: 4px;
}

.search-btn,
#current-location {
  background-color: rgba(255, 255, 255, 0.212);
  padding: 10px 15px;
  border-radius: 7px;
  border-style: none;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.search-btn:hover,
#current-location:hover {
  color: var(--white);
  background-color: var(--white-alpha-40);
}

.search-icon {
  color: #fff;
  font-size: 20px;
}

.location-icon {
  color: var(--white);
  font-size: 20px;
}

/*  Date Information Row 2*/

.row-2 {
  height: 180px;
  margin-top: 35px;
}

.date-info {
  text-align: center;
  padding: 14px;
  line-height: 1.8;
}
.day-name {
  color: var(--white);
  font-size: 35px;
  font-weight: bold;
  font-family: "Stardos Stencil", cursive;
  margin-bottom: 5px;
}

.date-info {
  font-size: 17px;
  color: var(--gray-color);
  font-family: "Roboto", sans-serif;
}

.degree,
.temps,
.city-name,
#deg-celsius,
#deg-fahrenheit {
  font-family: "Fredericka the Great", cursive;
}

.info {
  margin: 40px auto 0;
}

.current-tempreture {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
}

.current-weather-status {
  font-size: 20px;
  margin-top: 10px;
}

.deg-celsius,
.deg-fahrenheit,
.devider {
  position: absolute;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  color: var(--gray-color);
  transition: all 0.5s ease-out;
}

.deg-celsius {
  bottom: 110px;
  left: 75px;
}
.devider {
  bottom: 118px;
  left: 110px;
}
.deg-fahrenheit {
  bottom: 114px;
  left: 125px;
}

.current-tempreture .active {
  color: var(--white);
  font-size: 24px;
  cursor: default;
}

.current-weather-img {
  width: 160px;
  animation: zoomInOut 6s linear infinite;
}

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(0.85);
  }
  50% {
    transform: scale(1);
  }
}

.degree {
  font-size: 54px;
  color: var(--white);
}

#deg-celsius:hover,
#deg-fahrenheit:hover {
  color: #ffa500;
}

.details {
  font-size: 18px;
  color: var(--gray-color);
  line-height: 1.8;
}

.humidity,
.wind,
.pressure {
  border-bottom: 2px solid var(--white-alpha-40);
  font-weight: 500;
}

/*   Information Row 3    */

.col-2-edit {
  width: 15%;
  margin: 0 auto;
  text-align: center;
  background-color: var(--white-alpha-25);
  border: 1px solid rgba(184, 185, 187, 0.425);
  border-radius: 15px;
  padding: 10px;
  box-shadow: 2px 2px 8px rgba(114, 112, 112, 0.37);
}

.weather-forecast-days {
  font-size: 20px;
  margin-top: 10px;
  line-height: 0.6;
  color: #ffffffc5;
  font-weight: bold;
  font-family: "Stardos Stencil", cursive;
}

.weather-forecast-temps {
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
  font-family: "Roboto", sans-serif;
}

.weather-forecast-temps:hover {
  color: #ffa500;
}

.weather-forecast-temps-min {
  opacity: 0.6;
}

.city-name:hover {
  color: var(--white);
}

.days-img {
  width: 90px;
}

.footer {
  text-align: center;
  margin-top: 15px;
  color: var(--white);
  font-family: "Roboto", sans-serif;
}

.git-info,
.linkedin {
  text-decoration: none;
  color: #98d0e4;
}
.git-info:hover,
.linkedin:hover {
  color: #000;
}
.git-icon {
  color: var(--white);
}

@media (max-width: 767px) {
  .container {
    width: 700px;
  }
  .row-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .search-btn,
  #current-location {
    margin-top: 10px;
    display: inline;
    float: right;
  }
  .city-name {
    font-size: 40px;
  }
  .search-text {
    width: 200px;
    float: right;
  }
  .row-2 {
    height: auto;
  }
  .current-weather-status {
    margin-top: 0;
  }
  .current-weather-img {
    width: 100px;
    margin-top: 60px;
  }
  .current-tempreture,
  .date-info {
    margin-top: 30px;
  }
  .details,
  .date-info {
    padding: 0;
    font-size: 16px;
  }
  .days-img {
    width: 60px;
  }
  .degree {
    font-size: 44px;
  }
  #deg-celsius {
    top: 5px;
    left: 55px;
  }
  #deg-fahrenheit {
    top: 5px;
    left: 90px;
  }
  .devider {
    top: 5px;
    left: 85px;
  }
  .footer {
    font-size: 14px;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    margin: 15px auto;
  }

  .city-name {
    word-break: break-all;
    font-size: 36px;
    padding: 10px;
    margin-top: 60px;
  }
  .row-1 {
    margin-top: 0;
  }

  .search {
    padding: 0;
  }

  .search-icon,
  .location-icon {
    color: var(--white);
    font-size: 14px;
  }
  .search-btn,
  #current-location {
    background-color: rgba(255, 255, 255, 0.212);
    padding: 5px 10px;
    border-radius: 7px;
    border-style: none;
  }

  .date-info,
  .details,
  .current-weather-status {
    font-size: 10px;
    padding: 5px;
  }
  .date-info {
    line-height: 1.8;
  }

  .day-name {
    font-size: 16px;
  }
  .degree {
    font-size: 28px;
  }
  #deg-celsius,
  #deg-fahrenheit {
    font-size: 12px;
  }

  .feels-like {
    font-size: 14px;
  }

  .current-tempreture {
    margin-top: 0;
  }
  .search-text {
    padding: 6px 20px;
    border-radius: 5px;
    border-style: none;
    border: 2px solid rgb(205, 214, 223);
    background: rgba(255, 255, 255, 0.1);
  }
  .days-img {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 110%;
  }
  .weather-forecast-temps-max,
  .weather-forecast-temps-min,
  .weather-forecast-days {
    font-size: 12px;
  }
  .current-weather-img {
    width: 60px;
    margin-top: 60px;
  }
  .footer {
    font-size: 10px;
    margin-top: 5px;
  }
}
